[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
commonName                  = J

[ req_ext ]
subjectAltName = IP:127.0.0.1
basicConstraints=critical,CA:TRUE,pathlen:1